aiohttp==3.8.1
aiohttp-cors==0.7.0
aiosignal==1.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-timeout==4.0.2
asynctest==0.13.0
atomicwrites==1.4.0
attrs==21.4.0
avro-python3==1.10.2
backcall==0.2.0
bleach==4.1.0
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.12
cli-helpers==2.2.1
click==7.1.2
colorama==0.4.4
colorclass==2.2.2
colorlog==6.6.0
configobj==5.0.6
confluent-kafka==1.8.2
confuse==1.1.0
contextlib2==21.6.0
croniter==1.3.4
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
entrypoints==0.4
execnet==1.9.0
faust==1.10.4
filelock==3.6.0
frozenlist==1.3.0
google-api-core==1.30.0
google-api-python-client==2.11.0
google-auth==1.32.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-cloud-bigquery==2.20.0
google-cloud-bigquery-storage==2.5.0
google-cloud-core==1.7.1
google-crc32c==1.1.2
google-resumable-media==1.3.1
googleapis-common-protos==1.53.0
greenlet==1.1.2
grpcio==1.38.1
httplib2==0.19.1
idna==2.10
ImageHash==4.1.0
importlib-metadata==4.10.1
importlib-resources==5.4.0
iniconfig==1.1.1
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kafka-python==1.4.7
libcst==0.3.19
lxml==4.7.1
MarkupSafe==2.1.0
matplotlib==3.2.1
missingno==0.4.2
mistune==0.8.4
mock==4.0.3
mode==4.3.2
multidict==6.0.2
multitasking==0.0.10
mypy-extensions==0.4.3
mysql-connector-python==8.0.22
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.8
numpy==1.21.5
oauthlib==3.1.1
opentracing==1.3.0
packaging==21.0
pandas==1.3.0
pandas-gbq==0.15.0
pandas-profiling==2.8.0
pandocfilters==1.5.0
parso==0.8.2
path==16.3.0
path.py==12.5.0
patsy==0.5.2
pendulum==2.1.2
pgcli==3.3.1
pgspecial==1.13.0
phik==0.10.0
pickleshare==0.7.5
platformdirs==2.5.2
plotly==5.5.0
plotly-express==0.4.1
pluggy==1.0.0
prometheus-client==0.13.1
prompt-toolkit==3.0.18
proto-plus==1.19.0
protobuf==3.17.3
psycopg2==2.9.3
py==1.11.0
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydata-google-auth==1.2.0
Pygments==2.8.1
pyparsing==2.4.7
pyrsistent==0.18.1
pytest==7.0.0
pytest-shutil==1.7.0
python-dateutil==2.8.1
pytz==2021.1
pytzdata==2020.1
pywin32==301
pywinpty==2.0.2
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.2.2
QtPy==2.0.1
requests==2.27.1
requests-oauthlib==1.3.0
robinhood-aiokafka==1.1.6
rsa==4.7.2
scikit-learn==1.0.2
scipy==1.7.3
selenium==3.141.0
Send2Trash==1.8.0
setproctitle==1.2.2
six==1.15.0
SQLAlchemy==1.4.31
sqlparse==0.4.2
statsmodels==0.13.1
tabulate==0.8.9
tangled-up-in-unicode==0.0.6
tenacity==8.0.1
termcolor==1.1.0
terminado==0.13.1
terminaltables==3.1.10
testpath==0.5.0
threadpoolctl==3.1.0
tomli==2.0.1
tornado==6.1
tqdm==4.46.1
traitlets==5.0.5
typing-extensions==3.10.0.0
typing-inspect==0.7.1
uritemplate==3.0.1
urllib3==1.26.6
venusian==1.2.0
virtualenv==20.14.1
visions==0.4.4
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.2
yarl==1.7.2
yfinance==0.1.70
zipp==3.7.0
